body {
background-image: url(images/curls.png);
background-attachment: fixed;
}

/* //container style */
.container {
    background-image: url(images/bimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
    
}
/* 
column styling */

.col-lg-12 {
    width: 300px;
}

img {
    width:120px;
    height: 125px;
}


.tenor-gif-embed {
    width: 40%;
}

#buttonrow {
    display: inline;
    padding: 15px;
}

.col-lg-3 {
    padding: 30px;
}

.col-lg-4 {
    display: inline-grid;
}

#score1  {

    color: black;
}

#score2{
  
    color: black;
}



p, h1, h3 {
    color: white;
}

#scorecol1 {
    width: 100%;
    text-align: center;
}

#scorecol2 {
    width:100%;
    text-align: center;
}